.jobContainer {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
  box-sizing: border-box;
}

.overdue {
  background-color: rgb(255, 224, 70);
  color: #6d5b00;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 99999px;
  margin-bottom: 20px;
}

.complete {
  color: var(--white);
  background-color: var(--green);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
  border-radius: 99999px;
  margin-bottom: 20px;
}

.stopWatch {
  text-align: left;
}

.stopWatch button {
  background-color: #266df1 !important;
  color: white !important;
}

.stopWatch button:hover {
  background-color: #4b87f5 !important;
}

.schedule {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
