.loginTitle {
  text-align: center;
  margin-top: 0;
}

.alert {
  background-color: rgb(238, 177, 7);
  color: #ffffff;
  padding: 10px;
  border-radius: 3px;
}

.alert li {
  margin-left: 15px;
}

.form {
  width: 100%;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  display: none;
}

.input {
  padding: 10px 12px;
  font-size: 16px;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.button {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}