.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: var(--white);
}

.logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--vivid-blue);
}

.profileContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.profileButton {
  border-radius: 9999px;
  border: 2px solid var(--vivid-blue);
  color: var(--vivid-blue);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 16px rgb(0 0 0 / 10%);
}

.profile ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.profile ul li {
  border-bottom: 1px solid var(--light-gray);
}

.profile ul li:last-child {
  border-bottom: none;
}

.userEmail {
  font-weight: bold;
}

.profile ul li a, .profile ul li span {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}