.navbar {
  background-color: #042c76;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuLink {
  color: white;
  padding: 10px 12px;
  display: block;
  text-decoration: none;
}
.menuLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}