.stopWatch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.controllers {
  display: flex;
  gap: 1px;
}

.button {
  color: var(--green);
  background-color: var(--white);
}

.button:hover {
  color: var(--green);
  background-color: rgba(255, 255, 255, 0.8);
}

.button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}