.stopWatch {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.controllers {
  display: flex;
  gap: 7px;
}

.button {
  background-color: white !important;
  color: #266df1 !important;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
}